<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>This is Betsy</title>

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css">

    <!-- Custom fonts for this template -->
    <link href="/javascripts/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/javascripts/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- Custom styles for this template -->
    <link href="stylesheets/landing-page.min.css" rel="stylesheet" type="text/css">

</head>

<body>


<!-- Navigation -->
<%- include partials/menu.ejs %>

<!-- Masthead -->
<header class="masthead text-white text-center" style="padding-top:4rem; padding-bottom:4rem">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb"><%= title %></h1>
            </div>
        </div>
    </div>
</header>

<div class="col-md-4 mx-auto">
    <form id="demo-form" action="/validate" method="post">
        <div id="contact-form" class="form-container" data-form-container>
            <div class="row">
                <div class="form-title">
                    <span>Betsy Demo</span>
                </div>
            </div>
            <div class="input-container">
                <div class="row">
					<span class="req-input">
						<span class="input-status" data-toggle="tooltip" data-placement="top"
                              title="Input Your First and Last Name. Example: Jane Smith"> </span>
						<input name="name" type="text" placeholder="Full Name" value="<%= name %>" <% if (code != null) { %> readonly <% } %>>
					</span>
                </div>
                <div class="row">
					<span class="req-input">
						<span class="input-status" data-toggle="tooltip" data-placement="top"
                              title="Please Input Your Email. Example: abc123@email.com"> </span>
						<input name="email" type="email" placeholder="Email" value="<%= email %>" <% if (code != null) { %> readonly <% } %>>
					</span>
                </div>
                <div class="row">
					<span class="req-input">
						<span class="input-status" data-toggle="tooltip" data-placement="top"
                              title="Please Input Your Phone Number. Format: xxx-xxx-xxxx"> </span>
						<input class="bfh-phone" id="tel" name="cell" type="tel" placeholder="Phone Number" value="<%= cellNum %>"
                               data-format="+1 (ddd) ddd-dddd" pattern="^\d{3}-?\d{3}-?\d{4}$" <% if (code != null) { %> readonly <% } %>>
					</span>
                </div>
                <div class="row submit-row">
                    <button type="button submit" class="btn btn-block submit-form">Submit</button>
                </div>
            </div>
        </div>
    </form>
    <% if (code != null) {%>
    <form id="validation-form">
        <div id="contact-form" class="form-container" data-form-container>
            <div class="row">
                <div class="form-title">
                    <span>Confirm Phone Number</span>
                </div>
            </div>
            <div class="input-container">
                <div class="row">
					<span class="req-input">
						<span class="input-status" data-toggle="tooltip" data-placement="top"
                              title="Enter the verification code you received on your phone number"> </span>
						<input id="userCode" type="text" data-length="4" placeholder="XXXX">
					</span>
                </div>
                <div class="row submit-row">
                    <button type="button submit" class="btn btn-block submit-form">Submit</button>
                </div>
            </div>
        </div>
    </form>
    <% } %>
</div>

<!-- Footer -->
<%- include partials/footer.ejs %>


<!-- Bootstrap core JavaScript -->
<script src="/javascripts/jquery/jquery.min.js"></script>
<script src="/javascripts/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/javascripts/script.js"></script>

<script>
    $("#validation-form").submit(function (e) {
        e.preventDefault();
        let code = "<%- code %>";
        let userCode = document.getElementById("userCode").value;

        if (code == userCode) {
            alert("Success: Your demo will start shortly.")
        }
        else {
            alert("Failure: Could not verify phone number.")
        }

        /**

        var AWS = "";

        console.log("Generating code");
        var code = Math.floor(Math.random() * 9000 + 1000);
        console.log("Code = " + code);
        console.log('+1001' + document.getElementById("tel").value.replace(/\D/g, ""));

        var params = {
            Message: 'Your verification code is ' + code, /* required
            PhoneNumber: '+1001' + document.getElementById("tel").value.replace(/\D/g, "")
        };

        var publishTextPromise = new AWS.SNS({apiVersion: '2010-03-31'}).publish(params).promise();

        publishTextPromise.then(
            function (data) {
                console.log("MessageID is " + data.MessageId);
            }).catch(
            function (err) {
                console.error(err, err.stack);
            });
        var userCode = prompt("Please enter the verification code", "");

        if (userCode == code) {
            alert("Success");
        } else {
            alert("Fail!");
        }
        return false;*/
    })
    // $('.demo-form').on('submit', function () {
    //     //alert("Success");
    //     console.log("Generating code");
    //     var code = Math.floor(Math.random() * 9000 + 1000);
    //     console.log("Code = " + code);
    //     console.log('+1001' + document.getElementById("tel").value.replace(/\D/g, ""));
    //
    //     var params = {
    //         Message: 'Your verification code is ' + code, /* required */
    //         PhoneNumber: '+1001' + document.getElementById("tel").value.replace(/\D/g, "")
    //     };
    //
    //     var publishTextPromise = new AWS.SNS({apiVersion: '2010-03-31'}).publish(params).promise();
    //
    //     publishTextPromise.then(
    //         function (data) {
    //             console.log("MessageID is " + data.MessageId);
    //         }).catch(
    //         function (err) {
    //             console.error(err, err.stack);
    //         });
    //     var userCode = prompt("Please enter the verification code", "");
    //
    //     if (userCode == code) {
    //         alert("Success");
    //     }
    //     else {
    //         alert("Fail!");
    //     }
    //     return false;
    // });
</script>-->

</body>

</html>
