<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>This is Betsy</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">

    <!-- Custom fonts for this template -->
    <link href="/javascripts/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/javascripts/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/landing-page.min.css" rel="stylesheet" type="text/css">

</head>

<body>


<!-- Navigation -->
<%- include partials/menu.ejs %>

<header class="masthead text-white text-center" style="padding-top:4rem; padding-bottom:4rem;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb">Screens</h1>
            </div>
        </div>
    </div>
</header>

<% var i = 0; %>

<% screens.forEach((screen, i) => { %>

    </br>
    <div class="card col-md-8 mx-auto">
        <h5 class="card-header">Screen #<%= i + 1 %></h5>
        <div class="card-body">
            <h5 class="card-title"><%= screen.screen_name %></h5>
            <p class="card-text">Language: <%= screen.language %></p>
            <p class="card-text">Say: <%= screen.say %></p>
            <h5 class="card-text">Redirects: </h5>
            <table class="table table-hovered">
                <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Keyword</th>
                    <th scope="col">Goto</th>
                </tr>
                </thead>
                <tbody>
                <% i = 0; keywords.forEach((keyword) => { %>
                    <%
                    if (keyword.screen_id == screen.screen_id) { i++ %>
                    <tr>
                        <th scope="row"><%= i %></th>
                        <td>"<%= keyword.keyword %>"</td>
                        <td>
                            <% if (keyword.goto == null) { %>
                                Redirect to Answering Machine
                            <% } else {
                            screens.forEach((s) => {
                            if (s.screen_id == keyword.goto) { %>
                                Screen: <%= s.screen_name %>
                            <% }
                            })
                            } %>
                        </td>
                    </tr>
                    <% } %>
                <% }) %>
                <tr>
                    <th scope="row"><%= i + 1 %></th>
                    <td> Silent</td>
                    <td>
                        <% if (screen.silent == null) { %>
                            Redirect to Answering Machine
                        <% } else {
                        screens.forEach((s) => {
                        if (s.screen_id == screen.silent) { %>
                            Screen: <%= s.screen_name %>
                        <% }
                        })
                        } %>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><%= i + 2 %></th>
                    <td>No Match</td>
                    <td>
                        <% if (screen.no_match == null) { %>
                            Redirect to Answering Machine
                        <% } else {
                        screens.forEach((s) => {
                        if (s.screen_id == screen.no_match) { %>
                            Screen: <%= s.screen_name %>
                        <% }
                        })
                        } %>
                    </td>
                </tr>
                </tbody>
            </table>
            <% keywords.forEach((keyword) => { %>
                <% if (keyword.screen_id == screen.screen_id) { %>
                    <a class="card-text"></a>

                <% } %>
            <% }) %>
        </div>
    </div>

<% }) %>

<%- include partials/footer.ejs %>


<!-- Bootstrap core JavaScript -->
<script src="/javascripts/jquery/jquery.min.js"></script>
<script src="/javascripts/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/javascripts/script.js"></script>

</body>

</html>